header{
 font-size:25px;
 text-align: center;
color:black;
font-family: Arial, Helvetica, sans-serif;
}
input{
    background-color: rgb(243,246,249) ;
    border: none;
    margin-left: 60%;
    position: relative;
    top: 300px;
    width: 30%;
    height: 6vh;
}
input[type=text]{
    margin-top: 30px;
}
input[type=email]{
    margin-top: 30px;
}